.todo__container {
	background-color: #2c4e80;
	max-width: 50rem;
}

/* Header */
.header__container {
	border: none;
	color: #fc4100;
	background-color: #00215e;
	padding: 0.5rem 0.7rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.header__mode__btn {
	color: #fc4100;
	background-color: transparent;
	border: none;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}

.header__nav__btn {
	color: #fc4100;
	background-color: transparent;
	border: none;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	transition: all 300ms ease-in;
}

.header__nav__btn:hover {
	color: cornflowerblue;
	transform: scale(1.1);
}

/* Main */

.todo__lists {
	min-height: 20rem;
	border: none;
	padding: 1rem;
}

.todo__list__box {
	width: 30rem;
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}

.todo__list {
	color: white;
	margin-bottom: 5px;
	width: 85%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.todo__list__content {
	gap: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style-type: none;
}

.todo__list__checkbtn {
	width: 1.7rem;
	height: 1.7rem;
	margin-top: 6px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.todo__list__item {
	font-size: 1.2rem;
	font-weight: bold;
}

.todo__delete__btn {
	width: 1.5rem;
	height: 1.5rem;
	border: none;
	border-radius: 100%;
	color: white;
	background-color: gray;
	cursor: pointer;
	transition: all 300ms ease-in;
}

.todo__delete__btn:hover {
	color: #ffc55a;
	background-color: #fc4100;
}

/* Footer */
.todo__add {
	width: 96%;
	background-color: #00215e;

	padding: 1rem;
}

.todo__add__form {
	background-color: yellow;
	width: 30rem;
	display: flex;
	flex-direction: row;
	vertical-align: bottom;
	justify-content: center;
	margin: 0 auto;
}

.todo__add__input {
	width: 26rem;
	height: 2rem;
	border: none;
	border-radius: 5px 0 0 5px;
	display: inline-block;
	padding: 0 12px;
}

.todo__add__input:focus {
	outline: none;
}

.todo__add__btn {
	width: 6rem;
	height: 2rem;
	border: none;
	border-radius: 0 5px 5px 0;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	color: white;
	background-color: #fc4100;
	cursor: pointer;
	transition: all 300ms ease-in;
}

.todo__add__btn:hover {
	color: #00215e;
	background-color: #ffc55a;
}
